<%= link_to "<< Back to lists", lists_path, class: "btn btn-small" %>

<ul class="list-group my-3">
<h2 class="list-group-item"><%= @list.name %></h2>
<% @movies.movies.each do |movie| %>
<li class="list-group-item position-relative">
<%= image_tag movie.poster_url, style: "max-width: 100px; padding-top: 5px;" %><br />
<h4 class="mt-4 mb-0"><%= movie.title %></h4><br />
<p><%= movie.overview %></p> <br />
<%
=begin%>
 <%= link_to list_bookmark(@list.bookmark), class: "position-absolute end-20px", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
<i class="fa-regular fa-trash-can"></i>
<% end %>
<%
=end%>
</li>
<% end %>
</ul>

<hr />

<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add to the list
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">

    <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit %>

<% end %>
  </div>
</div>
