<%= link_to "<< Back to lists", root_path, class: "btn btn-small" %>

<ul class="list-group my-3">
  <h2 class="list-group-item"><%= @list.name %></h2>
</ul>
<div class="row row-cols-1 row-cols-md-3 g-4">
      <% @list.bookmarks.each do |bookmark| %>
  <div class="col">
    <div class="card h-100" style="max-width: 20rem;">
        <%= image_tag bookmark.movie.poster_url, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= bookmark.movie.title %></h5>
        <p class="card-text"><%= bookmark.movie.overview %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= bookmark.comment %></li>
      </ul>
      <div class="card-body">
          <%= link_to list_bookmark_path(bookmark.id), class: "card-link btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
      </div>
    </div>
  </div>
        <% end %>
</div>

<ul class="list-group my-3">
  <h2 class="list-group-item">
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <strong>+</strong> Add a movie
  </a>
  </h2>
</ul>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <div class="container parent">
        <div class="row">
        <p>Select a movie:</p>
            <div class='col text-center'>
    <% @movie.each_with_index do |movie, i| %>
            <input type="radio" name="bookmark[movie_id]" id="img<%= i %>" class="d-none imgbgchk" value="<%= movie.id %>">
              <label for="img<%= i %>">
                <img src="<%= movie.poster_url %>" alt="<%= movie.title %>">
                <div class="tick_container">
                  <div class="tick">
                    <i class="fa fa-check"></i>
                  </div>
                </div>
              </label>
      <% end %>
            </div>
          </div>
        </div>
    <%= f.input :comment %>
    <%= f.submit "Add movie to list" %>
  <% end %>
  </div>
</div>
